/* ======================================
        Start Header Area
====================================== */

.header{
    background-color: black;
}
.navbar a{
    color: white;
    font-size: large;
    padding: 45px 20px 0px 20px !important;
    text-decoration: none;
}
.navbar a:hover{
    color:white;
}
nav{
    background-color: black;
}
.menu_button, .close_button{
    color: white; 
    margin-top: 30px; 
    float: right; 
    display: none;
}
.mobile_view{
    display: none;
}
.mobile_view_button{
    float: right; 
    background-color: black; 
    color: white; 
    font-size: large;
    cursor: pointer;
    border-left: 1px solid white;
    padding: 0px 10px;
    border-width: 0px 0px 0px 1px;
}
#sub_menu a{
    border-top: 1px solid rgb(109, 94, 94);
    color: rgb(193, 197, 201);
}
.menu{
    position: absolute;
    right: 315px;
}
@media only screen and (max-width: 767px){
    .mobile_view{
        display: block;
        background-color: black;
    }
    .menu_button{
        display: block;
    }
    .menu{
        display: none;
    }
    .navbar{
        width: 100%;
    }
    .navbar a{
        padding: 10px 0px 10px 5px !important;
        border-top: 1px solid white;
    }
    .header{
        padding-bottom: 16px;
    }
    .navbar{
        z-index: 2;
    }
    .carousel{
        z-index: 1;
    }
}
@media only screen and (min-width: 768px) {
    .nav-item .active::before{
        content: '';
        position: absolute;
        width: 33px;
        height: 2px;
        background-color: white;
        top: 100%;
        margin-left: 10px;
    }
    .navbar a::before{
        content: '';
        position: absolute;
        width: 1px;
        height: 2px;
        background-color: white;
        top: 125%;
        margin-left: 14px;
        transition: 0.5s ease-out;
    }
    .navbar a:hover::before{
        width: 33px;
        top: 100%;
    }
}

/* ======================================
        End Header Area
====================================== */


/* ======================================
        Start Slider Area
====================================== */

.carousel-item{
    position: relative;
    background-color: black;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.slider_info{
    position: absolute;
    color: white;
    width: 70%;
    top: 35%;
    left: 15%;
}
.slider_info h1{
    padding-left: 100%;
    max-height: 40px; 
    color: aquamarine;
    overflow: hidden;
}
.slider_info ul{
    margin-top: 5%;
    font-size: large;
    margin-left: -100%;
    color: white; 
    height: 105px;
    overflow: hidden;
}
.slider_info_contact_us{
    position: relative;
    width: 180px;
    height: 40px;
    margin-top: 5%;
    left: 200%;
    cursor: pointer;
}
.slider_contact{
    position: absolute;
    left: 0%;
    width: 0%;
    height: 44px;
    top: -27%;
    text-decoration: none;
    color: black;
    background-color: white;
    padding-top: 4%;
    overflow: hidden;
    transition: .3s ease-out;
    text-align: center;
}
.slider_info_contact_us:hover .slider_contact{
    width: 90%;
}
.slider_info_contact_us a:hover{
    text-decoration: none;
    color: black;
}
.slider_info_contact_us .span_1{
    padding: 10px 20px 10px 15px; 
    border: 2px solid white;
}
.slider_info_contact_us .span_2{
    padding: 10px 10px; 
    border: 2px solid white; 
    border-left: 0px;
    background-color: white;
    color: black;
}
.carousel-indicators{
    right: 57% !important;
    top: 85%;
    cursor: pointer;
    margin: 0px 2px !important;
    bottom: 14% !important;
}
.carousel-indicators .active{
    height: 27px;
    width: 3px;
}
.slider_social a{
    position: absolute;
    bottom: 0%;
    color: white;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    transition: 0.5s ease-out;
    margin-right: 2px;
}
.slider_social a:hover{
    color: white;
    bottom: 2%;
}
.active .slider_info h1{
    padding-left: 0%;
    transition: 1s ease-out;
}
.active .slider_info ul{
    margin-left: 0%;
    transition: 1s ease-out;
}
.active .slider_info_contact_us{
    left: 0%;
    transition: 1s ease-out;
}
@media only screen and (max-width: 1000px) {
    .slider_info{
        top: 20%;
    }
    .carousel-indicators{
        top: 80%;
        bottom: 19%;
    }
}
@media only screen and (max-width: 900px) {
    .slider_info ul, .slider_info a{
        font-size: medium !important;
    }
    .carousel-item h1{
        font-size: x-large !important;
        max-height: 30px;
    }
    .carousel-item img{
        height: 500px;
    }
    .slider_info ul{
        margin-left: -150%;
    }
    .slider_info{
        width: 80%;
    }
}
@media only screen and (max-width: 500px) {
    .carousel-item h1{
        font-size: larger !important;
        max-height: 20px;
    }
    .carousel-indicators{
        right: 27% !important;
    }
}

/* ======================================
        End Slider Area
====================================== */

/* ======================================
        Start About Us Area
====================================== */

.about_us{
    text-align: center;
    margin-top: 40px;
    color: rgb(60, 123, 196);
}
.about_us::after{
    content: '';
    position: absolute;
    width: 55px;
    height: 2px;
    margin-top: 40px;
    left: 47.5%;
    background-color: rgb(8, 92, 201);
}
.about_us_read_more{
    position: relative;
    margin-top: 40px;
    width: 148px;
    height: 44px;
}
.about_us_read_more .span_1{
    border: 1px solid rgb(60, 123, 196);
    color: rgb(60, 123, 196);
    padding: 10px 20px 10px 15px;
}
.about_us_read_more .span_2{
    background-color: rgb(60, 123, 196);
    color: white;
    padding: 11px;
}
.about_us_read_more .read_more{
    position: absolute;
    top: -10px;
    left: 100%;
    text-decoration: none;
    height: 43px;
    width: 0%;
    overflow: hidden;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(60, 123, 196);
    color: white;
    text-align: center;
    transition: 0.3s ease-out;
}
.about_us_read_more:hover .read_more{
    left: 0%;
    width: 99%;
}
@media only screen and (max-width: 955px) {
    .about_us_photo_1{
        display: none;
    }
    .about_us_photo_2{
        height: 600px;
        width: 400px;
    }
}
@media only screen and (max-width: 767px) {
    .about_us_photos{
        text-align: center;
        margin-bottom: 10px;
        padding: 0px !important;
    }
    .about_us_photo_2{
        height: 500px;
        width: 300px;
    }
}

/* ======================================
        End About Us Area
====================================== */

/* ======================================
        Start Manufacturing Area
====================================== */

.made_image{
    width: 100%;
    height: auto;
    opacity: 0.3;
}
.made_h3{
    position: absolute;
    left: 37%;
    top: 50px;
    color: white;
}
.made_h3::before{
    content: '';
    position: absolute;
    background-color: white;
    height: 2px;
    width: 205px;
    margin-top: 50px;
    margin-left: 60px;
}
.manufacturing{
    background-color: transparent;
    width: 310px;
    position: absolute;
    color: white;
    padding: 5px 3px;
    transition: .8s ease;
}
.manufacturing:hover .manufacturing_images{
    opacity: 1;
}
.manufacturing img{
    width:310px;
    height:168px;
    opacity:0;
    position: absolute;
    transition: .5s ease-out;
}
.mobile_view_manufacturing img{
    width: 250px;
    height: 140px;
}
.mobile_view_manufacturing{
    position: absolute;
    top: 20%;
    color: white;
}
.mobile_view_manufacturing h4{
    left: 3%;
    display: none;
    padding: 2% 3%;
    border-bottom: 2px dotted white;
    margin-bottom: 0px;
    transition: .5s ease-out;
}
.mobile_view_manufacturing h4:hover {
    background-color: rgb(60, 123, 196);
}
#sedans_sub, #crossovers_sub, #coupes_sub, #convertible_sub, #buses_sub, #trucks_sub, #racing_sub, .manufacturing_front{
    display: none;
    transition: .8s ease-out;
}
@keyframes left_15{
    from{left:0%}
    to{left:15%}
}
@keyframes right_15{
    from{right:0%}
    to{right:15%}
}
@keyframes left_5{
    from{left:-10%}
    to{left:5%}
}
@keyframes right_5{
    from{right:-10%}
    to{right:5%}
}
@keyframes bottom_6{
    from{bottom:-10%}
    to{bottom:6%}
}
@keyframes left_37{
    from{left:48%; right:51%;}
    to{left:37%; right: auto;}
}
@keyframes left_0{
    from{left:-100%;}
    to{left:1%;}
}
@media only screen and (max-width: 1240px) {
    .manu_1240px{
        display: none;
    }
    .manufacturing img{
        width:250px;
        height: 140px;
    }
    .manufacturing{
        font-size: smaller;
        width: 250px;
    }
    .manufacturing h4{
        font-size: medium;
    }
}
@media only screen and (max-width:880px) {
    .manufacturing{
        display: none;
    }
    .made_h3{
        font-size: large;
    }
    .manufacturing_front{
        display: block;
        height: 85% !important;
        width: 60% !important;
        margin-top: 15% !important;
        margin-left: 15% !important;
    }
    .made_h3::before{
        width: 110px;
        top: -10px;
        left: -10%;
    }
    .mobile_view_manufacturing h4{
        display: block;
    }
}
@media only screen and (max-width: 760px) {
    .made_h3{
        top: 2px;
    }
    .manufacturing_spam{
        display: none;
    }
    .mobile_view_manufacturing h4{
        font-size: large;
    }
}
@media only screen and (max-width: 585px){
    .manufacturing_spam_1{
        display: none;
    }
    .mobile_view_manufacturing h4{
        font-size: medium;
        padding: 1% 3%;
        font-weight: lighter;
    }
    .mobile_view_manufacturing{
        top: 18%;
    }
    .made_h3::before{
        top: -20px;
    }
    .made_h3{
        left: 25%;
    }
}

/* ======================================
        End Manufacturing Area
====================================== */

/* ======================================
        Start Inquiry Area
====================================== */

.inquiry{
    margin-top: 30px;
    overflow: hidden;
}
.inquiry1{
    margin: 10px 5%;
}
.inquiryImage{
    max-width: 100%;
}
.inquiry2{
    margin-left: 4%;
    overflow: hidden !important;
}
.inquiry2 h3{
    margin-top: 20px;
    color:  rgb(60, 123, 196);
}
.inquiry2 h3::before{
    content: '';
    position: absolute;
    background-color: rgb(8, 92, 201);
    height: 2px;
    width: 160px;
    margin-top: 35px;
}
.inquiry2 input,.inquiry2 select,.inquirySubmit{
    width: 100%;
    max-width: 500px;
    padding: 5px 20px;
    border: 1px solid rgb(182, 168, 168);
    border-radius: 20px;
    margin: 2px;
    transition: .5s ease-out;
}
.inquiry2 input:hover, .inquiry2 select:hover{
    cursor: pointer;
    border: 1px solid rgb(8, 92, 201);
    box-shadow: 5px rgb(8, 92, 201);
}
.inquiry2 h6{
    opacity: 0.6;
    margin-top: 10px;
    margin-bottom: 3px;
}
.inquiry2 form{
    margin-top: 10%;
}
.inquirySubmit{
    margin-top: 40px !important;
    max-width: 200px !important;
    padding: 8px !important;
    background-color: rgb(8, 92, 201);
    color: white;
    font-weight: 700;
    transition: .5s ease-in-out;
    position: relative;
}
.inquirySubmit:hover::before{
    content: 'Submit';
    font-weight: 700;
    color: white;
    position: absolute;
    height: 40px;
    padding-top: 8px;
    top: -.5px;
    background-color: black;
    animation: inquirySubmit .5s forwards;
    overflow: hidden;
}
.error{
    color: red;
}
@keyframes inquiry2 {
    from{left:100%;}
    to{left:0%;}
}
@keyframes inquirySubmit{
    from{width:0px; left:100px;}
    to{width:140px; left:29px;}
}

/* ======================================
        End Inquiry Area
====================================== */

.feedback img{
    width: 100%;
    opacity: .3;
}
.feedback h1{
    position: absolute;
    color: white;
    top: 5%;
    left: 45%;
}
.feedback h1::after{
    content: '';
    position: absolute;
    width: 97px;
    height: 3px;
    background-color: white;
    top: 100%;
    left: 24%;
}
.feedbackSlider{
    position: absolute;
    min-width: 60%;
    top: 20%;
    margin-left: 5%;
    margin-right: 5%;
}
.feedbackSlider .carousel-item{
    width: 500px;
    max-height: 500px;
}
.feedback p{
    color: white;
}