/* ======================================
        Start Header Area
====================================== */

.header{
    background-color: black;
}
.navbar a{
    color: white;
    font-size: large;
    padding: 45px 20px 0px 20px !important;
    text-decoration: none;
}
.navbar a:hover{
    color:white;
}
nav{
    background-color: black;
}
.menu_button, .close_button{
    color: white; 
    margin-top: 30px; 
    float: right; 
    display: none;
}
.mobile_view{
    display: none;
}
.mobile_view_button{
    float: right; 
    background-color: black; 
    color: white; 
    font-size: large;
    cursor: pointer;
    border-left: 1px solid white;
    padding: 0px 10px;
    border-width: 0px 0px 0px 1px;
}
#sub_menu a{
    border-top: 1px solid rgb(109, 94, 94);
    color: rgb(193, 197, 201);
}
.menu{
    position: absolute;
    right: 315px;
}
@media only screen and (max-width: 767px){
    .mobile_view{
        display: block;
        background-color: black;
    }
    .menu_button{
        display: block;
    }
    .menu{
        display: none;
    }
    .navbar{
        width: 100%;
    }
    .navbar a{
        padding: 10px 0px 10px 5px !important;
        border-top: 1px solid white;
    }
    .header{
        padding-bottom: 16px;
    }
    .navbar{
        z-index: 2;
    }
    .carousel{
        z-index: 1;
    }
}
@media only screen and (min-width: 768px) {
    .nav-item .active::before{
        content: '';
        position: absolute;
        width: 33px;
        height: 2px;
        background-color: white;
        top: 100%;
        margin-left: 10px;
    }
    .navbar a::before{
        content: '';
        position: absolute;
        width: 1px;
        height: 2px;
        background-color: white;
        top: 125%;
        margin-left: 14px;
        transition: 0.5s ease-out;
    }
    .navbar a:hover::before{
        width: 33px;
        top: 100%;
    }
}

/* ======================================
        End Header Area
====================================== */


/* ======================================
        Start Slider Area
====================================== */

.carousel-item{
    position: relative;
    background-color: black;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.slider_info{
    position: absolute;
    color: white;
    width: 70%;
    top: 35%;
    left: 15%;
}
.slider_info h1{
    padding-left: 100%;
    max-height: 40px; 
    color: aquamarine;
    overflow: hidden;
}
.slider_info ul{
    margin-top: 5%;
    font-size: large;
    margin-left: -100%;
    color: white; 
    height: 105px;
    overflow: hidden;
}
.slider_info_contact_us{
    position: relative;
    width: 180px;
    height: 40px;
    margin-top: 5%;
    left: 200%;
    cursor: pointer;
}
.slider_contact{
    position: absolute;
    left: 0%;
    width: 0%;
    height: 44px;
    top: -27%;
    text-decoration: none;
    color: black;
    background-color: white;
    padding-top: 4%;
    overflow: hidden;
    transition: .3s ease-out;
    text-align: center;
}
.slider_info_contact_us:hover .slider_contact{
    width: 90%;
}
.slider_info_contact_us a:hover{
    text-decoration: none;
    color: black;
}
.slider_info_contact_us .span_1{
    padding: 10px 20px 10px 15px; 
    border: 2px solid white;
}
.slider_info_contact_us .span_2{
    padding: 10px 10px; 
    border: 2px solid white; 
    border-left: 0px;
    background-color: white;
    color: black;
}
.carousel-indicators{
    right: 57% !important;
    top: 85%;
    cursor: pointer;
    margin: 0px 2px !important;
    bottom: 14% !important;
}
.carousel-indicators .active{
    height: 27px;
    width: 3px;
}
.slider_social a{
    position: absolute;
    bottom: 0%;
    color: white;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    transition: 0.5s ease-out;
    margin-right: 2px;
}
.slider_social a:hover{
    color: white;
    bottom: 2%;
}
.active .slider_info h1{
    padding-left: 0%;
    transition: 1s ease-out;
}
.active .slider_info ul{
    margin-left: 0%;
    transition: 1s ease-out;
}
.active .slider_info_contact_us{
    left: 0%;
    transition: 1s ease-out;
}
@media only screen and (max-width: 1000px) {
    .slider_info{
        top: 20%;
    }
    .carousel-indicators{
        top: 80%;
        bottom: 19%;
    }
}
@media only screen and (max-width: 900px) {
    .slider_info ul, .slider_info a{
        font-size: medium !important;
    }
    .carousel-item h1{
        font-size: x-large !important;
        max-height: 30px;
    }
    .carousel-item img{
        height: 500px;
    }
    .slider_info ul{
        margin-left: -150%;
    }
    .slider_info{
        width: 80%;
    }
}
@media only screen and (max-width: 500px) {
    .carousel-item h1{
        font-size: larger !important;
        max-height: 20px;
    }
    .carousel-indicators{
        right: 27% !important;
    }
}

/* ======================================
        End Slider Area
====================================== */

.about_us{
    text-align: center;
    margin-top: 40px;
    color: rgb(59, 100, 69);
}
.about_us::after{
    content: '';
    position: absolute;
    width: 55px;
    height: 2px;
    margin-top: 40px;
    left: 47.5%;
    background-color: black;
}